
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="">Contact Us</a></p>
      <p>Copyright &copy; IBM Corporation 2018 | <a href="https://www.ibm.com/ibm/in/en/">About IBM</a> | <a href="https://www.ibm.com/contact/in/en/?lnk=flg">Contact</a></p>
    </div>
  </div>
	</body>
</html>	
