<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

        <div class="image-holder">
            <img src="/static/images/HomePage.jpg" class="slider-image" />
        </div>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
